<ion-view style="" title="Code Munchers">
    <ion-content class="has-header" padding="'true'">
        <h1 style="">Code Munchers</h1>
        <div style="">
            <p>
                <strong>Opened By:</strong>Joe Bob</p>

            <p>A new way to help youngsters teach code! Need a small team to create this game based on the hit classic, Number Munchers.</p>

            <p>Open Latches:</p>

            <p>-Lead Programmer, any language that can code a game</p>

            <p>-Graphic Designer, focus on 8-bit graphics</p>

            <p>-Financial Advisor, budget oriented</p>

            <p>Closed Latches:</p>

            <p>-Lawyer</p>
        </div>
        <a style="" class="button button-balanced button-block " href="#/latchup">Latch On!</a>
    </ion-content>
</ion-view>