<ion-view style="" title="Latch On">
    <ion-content class="has-header" padding="'true'">
        <h4 style="">Select Job</h4>
        <form style="" class="list">
            <ion-radio style="">Lead Programmer</ion-radio>
            <ion-radio style="">Graphic Designer</ion-radio>
            <ion-radio style="">Financial Advisor</ion-radio>
        </form>
        <h4 style="">What can you bring to the table?</h4>
        <form style="" class="list">
            <label style="" class="item item-input">
                <span class="input-label"></span><textarea placeholder=""> </textarea>
            </label>
        </form>
        <a style="" class="button button-balanced button-block " href="#/pend">Submit</a>
        <form style="" class="list"></form>
        <a style="" class="button button-assertive button-block " href="#/side-menu21/home">Cancel</a>
    </ion-content>
</ion-view>