<ion-view style="" title="Login">
    <ion-content class="has-header" scroll="false" padding="'true'">
        <img style="width: 100%; height: auto;" src="img/KaUAzCeCQ0yffFzLRInV_latchlogo.png" height="auto" width="100%">
        <form style="" class="list">
            <label style="" name="username" class="item item-input">
                <span class="input-label">Username</span>
                <input placeholder="xxxxxxxx" type="text">
            </label>
            <label style="" name="password" class="item item-input">
                <span class="input-label">Password</span>
                <input placeholder="********" type="password">
            </label>
        </form>
        <a style="" class="button button-stable button-block  icon ion-android-cloud-done" href="#/side-menu21/home">Login</a>
    </ion-content>
</ion-view>