<ion-view style="" title="Pending">
    <ion-content class="has-header" padding="'true'">
        <form style="" class="list">
            <h3 style="">Nice!</h3>
            <div style="">
                <p>Your application has been submitted. Please be patient as the project creator reviews your application.</p>
            </div>
        </form>
        <a style="" class="button button-positive button-block  icon ion-android-home" href="#/side-menu21/home">Home</a>
    </ion-content>
</ion-view>