<ion-view style="" title="Welcome!">
    <ion-content class="has-header" padding="'true'">
        <img style="width: 100%; height: auto;" src="img/OQMqpVQQqGnxIXbbOPbM_latchlogo.png" height="auto" width="100%">
        <div style="">
            <p>Please
                <strong>Login</strong>if you have an account, or
                <strong>Sign Up</strong>if you need one!</p>
        </div>
        <div style="" class="button-bar">
            <a style="" class="button button-stable button-block " href="#/login">Login</a>
            <button style="" class="button button-stable button-block ">Sign Up</button>
        </div>
    </ion-content>
</ion-view>